*{
    margin: 0 auto;
    font-family: 'Helvetica';
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#user-profile{
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 
}
#user-details {
    display: flex;
    flex-direction: column;
}

#user-details section p {
   margin-bottom: 5px;
}

#user-favorite-foods{
    margin-top: 20px;
}
